.pokemon-main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.pokemon-container {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.pokemon-sub-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  color: white;
}
.name-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  width: 500px;
  height: 500px;
}
.details-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-message-container {
  width: 40%;
  margin: auto;
  text-align: center;
  color: white;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: white;
  text-shadow: 1px 0px 10px rgb(255, 217, 0);
  transition: 0.3s;
}
.icon {
  font-size: 2rem;
  color: rgb(255, 217, 0);
}
.icon:hover {
  transform: scale(1.1);
 cursor: pointer;
  transition: 0.3s;
}
.options-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 5px solid rgb(255, 217, 0);
  border-top: 5px solid red;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ///////////////RESPONSIVE/////////////// */

@media screen and (max-width: 992px) {
  .pokemon-container {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .pokemon-sub-container {
    flex-direction: column;
  }
  .details-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .options-container {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .pokemon-container {
    margin-top: 40px;
    width: 95%;
  }
  .image {
    width: 300px;
    height: 300px;
  }
  .stat {
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px;
  }
  .error-message-container {
    width: 80%;
  }
  .options-container {
    width: 100%;
  }
}
